@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");
:root {
  --clr-foreground: #1e1f22;
}
* {
  margin: 0;
  padding: 0;
}
html {
  background-color: black;
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #17141d;
  color: white;
  font-family: "DM Mono", monospace;
}
.coming-soon {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
h2 {
  font-size: 4rem;
  color: white;
  padding-bottom: 2rem;
  font-weight: 800;
}
.countdown {
  width: min(80%, 70rem);
  border: 1px solid greenyellow;
  color: white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  font-weight: 800;
}
h3 {
  font-size: 2rem;
}
.container-day {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}
.container-hour {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}
.container-minute {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}
.container-second {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}
/* Start Event Time Line */
.event-details {
  height: 100vh;
}

.container {
  width: 100%;
  padding: 100px 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-background);
}
.timeline {
  font-family: "Montserrat", sans-serif;
  color: white;
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.timeline ul {
  list-style: none;
}
.timeline ul li {
  padding: 20px;
  background-color: var(--clr-foreground);
  border-radius: 20px;
  margin-bottom: 20px;
}
.timeline ul li:last-child {
  margin-bottom: 0;
}
.timeline-content h1 {
  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;
}
.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}
.date {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 10px;
}
@media only screen and (min-width: 768px) {
  .timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: lightgrey;
    left: 50%;
  }
  .timeline ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-70px);
    border-radius: 20px 0px 20px 20px;
  }
  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(70px);
    border-radius: 0px 20px 20px 20px;
  }
  .timeline ul li::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightgrey;
    top: 0;
  }
  .timeline ul li:nth-child(odd)::after {
    transform: translate(50%, -50%);
    transform: translateX(42px);
    right: 0;
  }
  .timeline ul li:nth-child(even)::after {
    transform: translate(-50%, -50%);
    transform: translateX(-39px);
    left: 0;
  }
  .timeline ul li:hover::after {
    background-color: lime;
  }
  .timeline-content .date {
    position: absolute;
    top: -30px;
  }
}
/* End Event TimeLine */
/* Start Our Team */
.our-team {
  height: 100vh;
}
a {
  text-decoration: none;
}

.card-list {
  display: flex;
  padding: 3rem;
  overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: #201c29;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

.card-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card {
  height: 350px;
  width: 400px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  margin: 0;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}

.card:focus-within ~ .card,
.card:hover ~ .card {
  transform: translateX(130px);
}

.card:hover {
  transform: translateY(-1rem);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card-header {
  margin-bottom: auto;
}

.card-header p {
  font-size: 14px;
  margin: 0 0 1rem;
  color: #7a7a8c;
}

.card-header h2 {
  font-size: 20px;
  margin: 0.25rem 0 auto;
  text-decoration: none;
  color: inherit;
  border: 0;
  display: inline-block;
  cursor: pointer;
}

.card-header h2:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.card-author {
  margin: 3rem 0 0;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  position: relative;
}

.author-avatar {
  grid-area: auto;
  align-self: start;
  position: relative;
  box-sizing: border-box;
}

.author-avatar img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  filter: grayscale(100%);
  display: block;
  overflow: hidden;
  margin: 16px 10px;
}
.author-name {
  grid-area: auto;
  box-sizing: border-box;
}

.author-name-prefix {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
}

.half-circle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
  pointer-events: none;
}

.tags {
  margin: 1rem 0 2rem;
  padding: 0.5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  font-size: 0.5rem;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: 0.66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: 0.2rem 0.85rem 0.25rem;
  position: relative;
}

.tags a:hover {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}
/* End Our Team */
/* Start of foorter */
.footer {
  height: max-content;
  position: relative;
}
.wrapper-upper {
  height: max-content;
  border: 1px solid greenyellow;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .wrapper-upper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.left img {
  width: min(80%, 20rem);
  height: min(80%, 20rem);
  border: 3px solid greenyellow;
}
.right {
  width: 80%;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: center;
  flex-direction: column;
}
form {
  margin-top: 20px;
  width: 100%;
}
input {
  width: 50%;
  height: 50px;
  border: none;
  color: white;
  background-color: black;
  border-bottom: 1px solid greenyellow;
  margin: 10px 0px;
  font-size: 15px;
  padding-left: 10px;
}
textarea {
  width: 80%;
  color: white;
  background-color: black;
  border: none;
  border-bottom: 1px solid greenyellow;
  margin: 10px 0px;
  font-size: 15px;
  padding-left: 10px;
}
button {
  border: 1px solid greenyellow;
  padding: 1rem;
  background-color: black;
  color: greenyellow;
  font-size: 1rem;
  transition: 0.2s;
}
button:hover {
  color: black;
  background-color: greenyellow;
  border: none;
  font-weight: 800;
}
.wrapper-lower {
  height: max-content;
  background-color: var(--clr-foreground);
  display: flex;
}
.left-lower {
  flex: 1;
  padding: 1em;
}
.left-lower p {
  font-size: 1em;
  margin-bottom: 1em;
}
.left-lower a {
  color: greenyellow;
}
.left-lower a i {
  transition: 0.2s;
}
.left-lower a i:hover {
  transform: scale(1.2);
}
.center-lower {
  flex: 2;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.center-lower img {
  width: 4rem;
  aspect-ratio: 1;
  margin-bottom: 0.5rem;
}
.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.right-lower {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .wrapper-lower {
    flex-direction: column;
  }
  .center-lower {
    flex-direction: column;
  }
  .right-lower {
    flex-direction: column;
  }
  .coming-soon h2 {
    text-align: center;
  }
  .countdown {
    width: 80%;
  }
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}

/* End of Footer */
